
body { font-family: Verdana, Arial, Tahoma, san-serif; font-size: 10pt }

div.title { text-align: center; clear: both; margin-bottom: 2em }
div.title h1 { margin-bottom: 8px; font-size: 180% }

div.contents { width: 300px; float: right; border: 2px solid black; background-color: #dddde9; margin: 1em; padding: 1em }
div.contents ul {	margin-left: 1em; padding-left: .5em; margin-bottom: 0em }
div.contents h2 {	font-size: 13pt; margin-top: 0em; text-align: center; border-bottom: thin solid black }
div.contents p { text-indent: 0em }
div.contents p.part { text-align: center }

p { text-indent: 1.5em }
h3 { font-weight: bold; font-size: 130% }
h4 { font-weight: bold; font-size: 100% }

dl.ref dt { font-family: Courier New }
dd { margin-bottom: 1em }

blockquote div.html { font-family: Courier New, Courier, san-serif; width: 75%; text-align: left; white-space: pre; }
xmp.code { font-family: Courier New, Courier, san-serif; padding: 10px; white-space: pre; color: black }
div.caption { margin-top: -10px; margin-left: 1em; margin-bottom: 10px; font-size: 80%; font-style: italic }
div.caption em { font-weight: bold } 